#exortPattern("^[^\\.]")
export(flowDensity)
export(plot, getflowFrame)
export(.flowDensity)
export(deGate, plotDens, notSubFrame, nmRemove,SubFrame)
exportClass(CellPopulation)
import(flowCore)
import(gplots)
import(RFOC)
import(GEOmap)
import(car)
#importFrom("graphics", plot)
importFrom("grDevices", colorRampPalette)
importFrom(methods, new)
