#exortPattern("^[^\\.]")
export(flowDensity)
export(plot, getflowFrame)
export(.flowDensity)
export(deGate, plotDens, getPeaks,notSubFrame,nmRemove,.trackSlope)
exportClass(CellPopulation)
import(flowCore)
import(gplots)
import(RFOC)

import(rgeos)
importFrom(sp,point.in.polygon)
importFrom(sp,SpatialPolygons)
importFrom(sp,Polygons)
importFrom(sp,Polygon)
importFrom(rgeos,gIntersects)
importFrom(rgeos,gDifference)
importClassesFrom(flowWorkspace,GatingHierarchy)
importFrom(flowWorkspace,getData)
import(car)
#importFrom("graphics", plot)
importFrom("grDevices", colorRampPalette)

importFrom(methods, new)
