export(flowDensity)
export(plot, getflowFrame)
#export(.flowDensity)
export(deGate, plotDens, getPeaks, notSubFrame, nmRemove, .trackSlope)
exportClass(CellPopulation)
import(flowCore)
import(gplots)
import(car)
import(RFOC)
importFrom(sp, Polygons, Polygon, point.in.polygon, SpatialPolygons)
importFrom(rgeos, gIntersects, gDifference,gBuffer)
importFrom(flowWorkspace, getData)
importFrom(graphics, mtext, plot, abline, polygon, par, layout, layout.show)
importFrom(grDevices, chull, colors, colorRampPalette, densCols)
importFrom(stats, sd, quantile, median, density, smooth.spline, splinefun)
importFrom(methods, new)
importClassesFrom(flowWorkspace, GatingHierarchy)
